{% extends 'base.html' %}
{% load filtros %}

{% block 'title' %}{{ livro.nome }}{% endblock  %}

{% block 'content' %}
    <div class="container">
        <br>
        <form action="#" method="POST">
            {% csrf_token %}
            <p>
                <label>Nome do livro:</label>
                <input class="form-control" type="text" value="{{ livro.nome }}">
            </p>
            <p>
                <label>Autor:</label>
                <input style="width: 40%;" class="form-control" type="text" value="{{ livro.autor }}">
            </p>
            <p>
                <label>Nome do co-autor:</label> 
                {% if livro.co_autor == None %}
                    <input style="width: 40%;" class="form-control" type="text" value="">
                {%else%}
                    <input style="width: 40%;" class="form-control" type="text" value="{{ livro.co_autor }}">
                {% endif %}
            </p>
            <p>
                <label>Data de cadastro:</label>
                <input style="width: 40%;" class="form-control" type="text" value="{{ livro.data_cadastro }}">
            </p>

            <label>Categoria</label>
            <select style="width: 20%;" class="form-control" name="categoria">
                {% for categoria in categorias %}
                    {% if  livro.categoria == categoria%}
                        <option selected="selected">{{ categoria }}</option>
                    {% else %}
                        <option>{{ categoria }}</option>
                    {% endif %}
                {% endfor %}
            </select>
            <br>
            <lable style="display: inline;">Emprestado: &nbsp </label>
            {% if livro.emprestado %}
                <input stype="transform: scale(2.0);" checked="checked" type="checkbox" name="emprestado">
            {% else %}
                <input stype="transform: scale(2.0);" type="checkbox" name="emprestado">
            {% endif %}
            <br>
            <br>
            <input type="submit" class="btn btn-success btn-lg" value="Salvar">
            <a href="{% url 'excluir_livro' livro.id %}" class="btn btn-danger btn-lg">Excluir</a>
        </form>
        <hr>
        <h1>Histórico de empréstimo</h1>

        <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">Nome</th>
                <th scope="col">Data Emprestimo</th>
                <th scope="col">Data Devolução</th>
                <th scope="col">Tempo Duração</th>
              </tr>
            </thead>
            <tbody>
            {% for  emprestimo in emprestimos %}
              <tr>
                {% if emprestimo.nome_emprestado_cadastrado == None %}
                    <th scope="row">{{ emprestimo.nome_emprestado }}</th>
                {% else %}
                    <th scope="row">{{ emprestimo.nome_emprestado_cadastrado }}</th>
                {% endif %}
                <td>{{ emprestimo.data_emprestimo }}</td>
                <td>{{ emprestimo.data_devolucao }}</td>
                <td>{{ emprestimo.data_devolucao|mostra_duracao:emprestimo.data_emprestimo }} dias</td>
              </tr>
            {% endfor %}
            </tbody>
          </table>

    </div>
{% endblock  %}